{% extends 'core/core.html' %}
{% load static %}
{% block headdata %}

<link rel="stylesheet" href=" {% static 'home/css/font.css' %} ">

{% endblock headdata %}



{% block body %}

<div class="alert alert-primary" role="alert">
    About Us
</div>
<div class="container">
    <p>The NGO-DARPAN is a platform that provides space for interface between VOs/NGOs and key Government Ministries / Departments / Government Bodies, to start with. Later it is proposed to cover all Central Ministries / Departments / Government Bodies.</p> 
    <p>
        This is a free facility offered by the NITI Aayog in association with National Informatics Centre to bring about greater partnership between government & voluntary sector and foster better transparency, efficiency and accountability.
    </p>
    <p>
        The NGO-DARPAN started out as an initiative of the Prime Minister's Office, to create and promote a healthy partnership between VOs/NGOs and the Government of India. The Portal is managed at present by NITI Aayog.
    </p>
    <p>
        This module has been developed by National Informatics Centre (NIC), the premier ICT Organisation of the Government of India under the aegis of Ministry of Electronics & Information Technology (MeitY) , Government of India.
    </p>
</div>


{% block footer %}

{% endblock footer %}

{% endblock body  %}