{% extends 'core/core.html' %}
{% load static %}
{% block headdata %}

<link rel="stylesheet" href=" {% static 'home/css/font.css' %} ">

{% endblock headdata %}



{% block body %}

<div class="container">
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-6 font-italic">GiveIndia’s vision is to alleviate poverty by enabling the world to give.</h1>
          
        </div>
      </div>
      <div class="container">
          <h6 class="text-center"><strong>Join us</strong></h6>
          <p class="text-center">Current Openings</p>
      </div>
      <h5>NGO/Social Services 12 JOBS</h5>
      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Full time</h5>
              
              <a href="#" class="">Manager, Digital Marketing</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title">Full time</h6>
             
              <a href="#" class="">Senior Associate - Events and Fundraising</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Full time</h6>
               
                <a href="#" class="">Customer Success Manager</a>
              </div>
            </div>
          </div>
          
      </div>

      <div class="row my-3">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title">Full Time</h6>
              
              <a href="#" class="">Associate Manager - SEM Marketing</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title">Full Time</h6>
             
              <a href="#" class="">Manager - Impact reporting</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Full Time</h6>
              
                <a href="#" class="">Head - Marketing & Brand Management</a>
              </div>
            </div>
          </div>
          
      </div>


      <div class="row my-3">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title">Full Time</h6>
             
              <a href="#" class="">Manager, NGO Acquisition</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title">Full Time</h6>
             
              <a href="#" class="">Quality Assurance Engineer
            </a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Full Time</h6>
              
                <a href="#" class="">Head, Corporate Partnerships
                </a>
              </div>
            </div>
          </div>
          
      </div>

      <div class="row my-3">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title">Full Time</h6>
              
              <a href="#" class="">Head, Growth & Digital Marketing - Fundraisers & Subscription Giving</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title">Full Time</h6>
             
              <a href="#" class="">Senior Associate, CSR Reporting</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Full Time</h6>
         
                <a href="#" class="">SDE 3 - Full Stack</a>
              </div>
            </div>
          </div>
          
      </div>

</div>

{% block footer %}

{% endblock footer %}

{% endblock body  %}