{% extends 'core/core.html' %}
{% load static %}
{% block headdata %}

<link rel="stylesheet" href=" {% static 'home/css/font.css' %} ">

{% endblock headdata %}



{% block body %}

<div class="container mx-6 text-center   my-4">
    <main class="container">
        <div class="bg-light p-5 rounded">
          <h3>Copyright Policy</h3>
          <p class="lead">Material featured on this Portal may be reproduced free of charge after taking proper permission by sending a mail to us. However, the material has to be reproduced accurately and not to be used in a derogatory manner or in a misleading context. Wherever the material is being published or issued to others, the source must be prominently acknowledged. However, the permission to reproduce this material shall not extend to any material which is identified as being copyright of a third party. Authorisation to reproduce such material must be obtained from the NITI Aayog.
              <br><br>
              Links to other websites that have been included on this Portal are provided for public convenience only. NITI Aayog/NIC is not responsible for the contents or reliability of linked websites and does not necessarily endorse the view expressed within them. We cannot guarantee the availability of such linked pages at all times.
              <br> <br>
              These terms and conditions shall be governed by and construed in accordance with the Indian Laws. Any dispute arising under these terms and conditions shall be subject to the exclusive jurisdiction of the courts of India.
          </p>
          <a class="btn btn-lg btn-primary" href="https://en.wikipedia.org/wiki/Wikipedia:Copyrights" target="_blank" role="button">View  docs »</a>

        </div>
      </main>

      <main class="container my-3">
        <div class="bg-light p-5 rounded">
          <h3>Privacy Policy</h3>
          <p class="lead">Adequate security measures have been employed to to protect your personal information like details of Aadhaar and PAN etc. <br><br>
            We do not sell or share any personally identifiable information available at NGO Darpan website to any third party (public/private). We gather certain information about the User, such as Internet protocol (IP) addresses, domain name, browser type, operating system, the date and time of the visit and the pages visited. We make no attempt to link these addresses with the identity of individuals visiting our site unless an attempt to damage the site has been detected.
        <br><br>
        NITI Aayog has issued specific guidelines in respect of information furnished by NGOs/ VOs on NGO DARPAN Portal. In the NGO-DARPAN Portal there is a disclaimer which is reproduced as under:-
    <br><br>
    "The NGO DARPAN Portal lists a number of VOs/ NGOs in India based on self-declaration. This does not imply that organizatiions are endorsed or recommended by NITI Aayog / DeitY-NIC or by the concerned Ministries/ Departments/ Government Bodies. NITI Aayog/ DeitY-NIC does not guarantee that the information contained on the website is complete and correct and shall not be liable whatsoever for any damages incurred as a result of its use." </p>
          <a class="btn btn-lg btn-primary" href="https://en.wikipedia.org/wiki/Privacy_policy" target="_blank" role="button">View docs »</a>
        </div>
      </main>



      <main class="container my-3">
        <div class="bg-light p-5 rounded">
          <h3>Hyperlinking Policy</h3>
          <h4>Links to external websites/portals</h4>
          <p class="lead">Links to some of Official websites of Govt of India have been provided at home page of NGO Darpan Portal. The links have been placed for convenience of visitors to find relevant content looking for specific information. NGO Darpan is not responsible for contents and reliability of the linked websites and does not endorse the material and information so available. As such mere presence of links of these websites or its listing on this Portal should not be assumed as endorsement of any kind. We do not guarantee that these links shall always be available as we do not have control over availability of linked pages.</p>
          <a class="btn btn-lg btn-primary" href="https://en.wikipedia.org/wiki/Wikipedia:Manual_of_Style/Linking" target="_blank" role="button">View docs »</a>
        </div>
      </main>

      <main class="container my-3">
        <div class="bg-light p-5 rounded">
          <h3>Links to NGO Darpan Website by other websites</h3>
          
          <p class="lead">No prior permission is needed to provide a link of NGO Darpan portal from your website. However, we do not permit our pages to be loaded into frames on your website. The pages belonging to this website must be loaded into a newly opened browser window of the User.</p>
          <a class="btn btn-lg btn-primary" href="https://en.wikipedia.org/wiki/Cybercrime" target="_blank" role="button">View docs »</a>
        </div>
      </main>
</div>

{% block footer %}

{% endblock footer %}

{% endblock body  %}