{% extends 'core/core.html' %}
{% load static %}
{% block headdata %}

<link rel="stylesheet" href=" {% static 'home/css/font.css' %} ">

{% endblock headdata %}



{% block body %}

<div class="container">
    <div class="container">
        <div class="jumbotron mt-3 py-4">
          <h6><strong>Q: What is a Voluntary Organization (VO) / Non Governmental Organization (NGO)?</strong></h6>
          <p class="lead"><small>Voluntary organizations (VOs) / Non Governmental Organizations (NGOs) include organizations engaged in public service, based on ethical, cultural, social, economic, political, religious, spiritual, philanthropic or scientific & technological considerations. VOs include formal as well as informal groups, such as: community-based organizations (CBOs); non-governmental development organizations (NGDOs); charitable organizations; support organizations; networks or federations of such organizations; as well as professional membership associations. <br>
            VOs / NGOs should broadly have the following characteristics: <br>
        <ol>
            <li>
                They are private, i.e., separate from Government
            </li>
            <li>
                They do not return profits generated to their owners or directors
            </li>
            <li>
                They are self-governing, i.e., not controlled by Government
            </li>
            <li>
                They are registered organizations or informal groups, with defined aims and objectives
            </li>
        </ol>
    
        In India a Voluntary Organization / Non Governmental Organization can be registered as Trusts, Societies, or a private limited nonprofit company, under section-25 Company of the Indian Companies Act, 1956.</small></p>
         
        </div>
      </div>
</div>

<div class="container">
    <div class="container">
        <div class="jumbotron mt-2 py-4">
          <h6><strong>Q: Is individual registration allowed?</strong></h6>
          <p class="lead"><small>As of now no Individual (person) Registration is allowed.</small></p>
         
        </div>
      </div>
</div>


<div class="container">
    <div class="container">
        <div class="jumbotron mt-2 py-4">
          <h6><strong>Q: What are the facilities provided by NGO Darpan ?</strong></h6>
          <p class="lead"><small>The NGO-PS helps VOs/NGOs to: <ol>
              <li>Get details of existing VOs / NGOs across India</li>
              <li>Get details of the schemes of the participating Ministries/Departments/Government Bodies (mentioned at home page) offering grants to VOs / NGOs</li>
              <li>
                Apply on - line for NGO grants
              </li>
              <li>
                Track status of your applications for grants
              </li>
          </ol></small></p>
         
        </div>
      </div>
</div>

<div class="container">
    <div class="container">
        <div class="jumbotron my-2 py-4">
          <h6><strong>Q: How can one apply for NGO grants?</strong></h6>
          <p class="lead"><small><ol>
              <li>
                To apply for grants the first step is to create your account/sign-up and create your own User ID and Password.
              </li>
              <li>
                Once you login into your account, there are various links available, for viewing the department-wise schemes, providing NGO grants. Select the scheme under which you want to apply for a grant. The link to your selected scheme will provide you with all the details of the scheme - format in which you have to apply, documents you need to attach etc.
              </li>
              <li>
                You can get the details of the Nodal Officers for the concerned scheme, from the website. Any queries regarding schemes or about how to proceed for schemes and grants will be clarified by the respective Nodal Officers (List and Contact Details are available on the website).
              </li>
          </ol></small></p>
         
        </div>
      </div>
</div>


<div class="container">
    <div class="container">
        <div class="jumbotron my-2 py-4">
          <h6><strong>Q: I have forgotten my UserID/Password. Can you help?</strong></h6>
          <p class="lead"><small>You can use the 'Forgot Your Password' link which you can find just below the Login area.</small></p>
         
        </div>
      </div>
</div>



<div class="container">
    <div class="container">
        <div class="jumbotron my-2 py-4">
          <h6><strong>Q: I am working with a new email id. How to inform it to NGO Darpan?</strong></h6>
          <p class="lead"><small>To edit your email id in your profile, you need to log into the website using your UserID and Password, from the Login box available in http://ngo.india.gov.in, under the table with heading as VO/NGO Signing In for Signed Up users.
              <br>
              Once you are Logged In, on the Right Hand Side click on Edit Profile.
              <br>
              Under Contact Details, remove the old email id and write your new email id.
          </small></p>
         
        </div>
      </div>
</div>


<div class="container">
    <div class="container">
        <div class="jumbotron my-2 py-4">
          <h6><strong>Q: I am working with a new email id and I have forgotten Login Id and Password. How to update my account in NGO Darpan ?</strong></h6>
          <p class="lead"><small><ol>
              <li>In this case, you are requested to kindly send us a correspondence about this problem and mentioning both your old and new email ids in a letter through post, on your organisation's letter head and with your stamp and signature on it.</li>
              <li>
                Then a new UserID and Password will be sent to your new email id.
              </li>
          </ol></small></p>
         
        </div>
      </div>
</div>

{% block footer %}

{% endblock footer %}

{% endblock body  %}